
.chart-container {
    position: relative;
    height: 400px;
    width: 400px;
}

#myPieChart {
    height: 100%;
    width: 100%;
}
#major-bar-chart {
    width: 100%; /* 너비를 부모 요소에 맞춤 */
    max-width: 600px; /* 최대 너비 설정 */
    height: 400px; /* 높이 설정 */
}

/* statistics.css */

/* 프로그래스 바 컨테이너 스타일 */
.progress-container {
    margin-bottom: 15px; /* 각 프로그래스 바 사이의 간격 */
}

/* 기본 프로그래스 바 스타일 */
.progress {
    height: 30px; /* 프로그래스 바의 높이 */
    border-radius: 10px; /* 모서리 둥글기 */
    overflow: hidden; /* 내용이 바깥으로 넘치지 않도록 */
}

.progress-bar {
    color: black; /* 글자 색상 */
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8); /* 텍스트 그림자 */
    font-weight: bold; /* 글자 두께 */
    text-align: center; /* 글자 중앙 정렬 */
    font-size: 14px; /* 비율 텍스트의 크기를 조정 */
    line-height: 25px; /* 텍스트의 수직 정렬 조정 */
}

/* 색상 배경을 위한 CSS 클래스 */
.bg-primary { background: linear-gradient(45deg, #4e73df, #2e59d9); }
.bg-success { background: linear-gradient(45deg, #1cc88a, #17a673); }
.bg-info { background: linear-gradient(45deg, #36b9cc, #2c9faf); }
.bg-warning { background: linear-gradient(45deg, #f6c23e, #f1b82e); }
.bg-danger { background: linear-gradient(45deg, #e74a3b, #e14a2c); }
.bg-secondary { background: linear-gradient(45deg, #6c757d, #5a6268); }
